<html>
	<head>
		<title>Pagefeed</title>
		<link rel="stylesheet" href="/public/index.css" />
	</head>
	
	<body>
		<div class="header flush">
			<h1>Welcome, {{name|escape}} <a href="{{logout|escape}}" class="fresh">(logout)</a></h1>
			<p><a href="{{feed_link|escape}}" class="fresh">Click here for your custom feed</a>
				(but don't tell anyone else this link, it's private)
			</p>
			<p>
				Also of use is the bookmarklet: 
				<a href="javascript:{{bookmarklet|escape}}" class="fresh">pagefeed</a> (drag it somewhere and click it later!)
			</p>
		
			<form action="/page/" method="POST" class="add_url">
				<input type="text" size="60" name="url" id="url" />
				<input type="submit" value="add link" />
			</form>
		</div>

		<div class="links flush">
			<h2>Your current links:</h2>
			<dl>
				{% if pages %}
					{% for page in pages %}
						<dt>
							<form action="/page/del/" method="POST" class="del">
								<input type="hidden" name="url" value="{{page.url|escape}}" />
								<input type="submit" value="x" />
							</form>
							<a href="{{page.url|escape}}">{{page.title}}</a>
						</dt>
						<dd>{{page.url|escape}}</dd>
					{% endfor %}
				{% else %}
					<p>No links saved ... (yet!)</p>
				{% endif %}
			</dl>
		</div>
		
		<div class="footer flush">Brought to you by <a href="http://gfxmonk.net">gfxmonk</a></div>
	</body>
</html>
