<h2>Get your links delivered to your feed reader</h2>

<p>
	Pagefeed allows you to add any web page to your personalised feed of pages.
	It's similar to (and inspired by) <a href="http://www.instapaper.com/">instapaper</a>, except it works with whatever feed reader you want to use.
</p>

<h3>How do I set it up?</h3>
<p>
	Just <a href="/">log in</a>, add your (private) RSS feed to your feed reader, and you're set.
</p>

<a name="calibre"></a><h3>Calibre integration</h3>
<p>
	<a href="http://calibre-ebook.com/">Calibre</a> is a fully-featured digital book manager and converter.
	By using the calibre recipe for Pagefeed, you can, at any point, download your current
	pagefeed saved items to read on your kindle, sony reader, nook, or any number of supported
	reading devices.<br />
	You can run your recipe from within calibre, or with the ebook-convert command-line tool:<br />
	<code>ebook-convert pagefeed.recipe <i>pagefeed.mobi</i></code><br />
	(replace <i>.mobi</i> with the file extension of the format you want your content to be converted to)
</p>

	
<h3>Adding pages</h3>
<p>
	There are a few ways to add pages. Obviously, you can use the form on the main page.
	But you can also use the bookmarklet, which will let you add any page without visiting PageFeed.
	Thirdly, there is an option in <a href="http://code.google.com/p/gris/">GRiS</a> (Google Reader iPhone Sync) to save links to PageFeed for viewing later.
</p>

<h3>Integration</h3>
<p>
	If you want to add PageFeed integration to your own programs, <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#116;&#105;&#109;&#051;&#100;&#046;&#106;&#117;&#110;&#107;+&#112;&#097;&#103;&#101;&#102;&#101;&#101;&#100;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">get in touch</a> and I'll see what I can do about some API documentation.
</p>

<h3>Teething problems...</h3>
<p>
	PageFeed is still in early development, so things may be a little unstable for a while.
	But the core functionality should be stable enough for everyday use, if you're brave and don't mind some rough edges ;)
</p>

<br />

