{% include "../snippets/pagination.html" %}

<h2>Your current links:</h2>
<ul id="links">
	{% if pages %}
		{% for page in pages %}
			{% include "../snippets/page_summary.html" %}
		{% endfor %}
	{% else %}
		<p class="placeholder">No links saved ... (yet!)</p>
	{% endif %}
</ul>

{% include "../snippets/pagination.html" %}
<p class="footnote">
	<em>Keyboard shortcuts:</em> use <em>j</em>/<em>k</em> to select items, <em>d</em> to delete.<br />
	Press <em>return</em> to open a link, holding <em>shift</em> for a new window.<br />
	Made with <a href="http://github.com/gfxmonk/jquery-navim">navim</a> - vim-style navingation for the web.
</p>
