	<div class="pagination_container page">
		{% if pagination.prev %}
			<a href="{{ pagination.prev|escape }}" class="pagination prev fresh">&lt;-&nbsp;previous</a>
		{% endif %}

		{% if pagination.next %}
			<a href="{{ pagination.next|escape }}" class="pagination next fresh">next&nbsp;-&gt;</a>
		{% endif %}
	</div>

<h2>Your current links:</h2>
<ul id="links">
	{% if pages %}
		{% for page in pages %}
			{% include "../snippets/page_summary.html" %}
		{% endfor %}
	{% else %}
		<p class="placeholder">No links saved ... (yet!)</p>
	{% endif %}
</dl>
