<li class="selectable">
	<form action="/page/del/" method="POST" class="del ajax unary" id="delete_page_{{page.key|escape}}">
		<input type="hidden" name="url" value="{{page.url|escape}}" />
		<input type="submit" value="X" />

		<!-- ajax properties -->
		<input type="hidden" name="dest" value="li" />
		<input type="hidden" name="meth" value="remove" />
	</form>
	<form action="/page/update/" method="POST" class="update ajax unary" id="update_page_{{page.key|escape}}">
		<input type="hidden" name="url" value="{{page.url|escape}}" />
			<input type="submit" value="R" />
		{% if not page.pending %}
		{% endif %}

		<!-- ajax properties -->
		<input type="hidden" name="dest" value="li" />
		<input type="hidden" name="meth" value="replace" />
	</form>
	<h3><a href="{{page.url|escape}}">{{page.title}}</a></h3>
	<div class="description toggleContainer">
		<div class="url">{{page.url|escape}}</div>
		{{ page.message_html }}
	</div>
</li>
