<h1>Welcome to PageFeed</h1>

<p>Grab your <a href="{{feed_link|escape}}" class="fresh">custom RSS feed</a>
	or <a href="{{epub_link|escape}}" class="fresh">ePub export</a>
	(but don't share these links - they're private)
</p>

<p>
	Also drag the <a href="javascript:{{bookmarklet|escape}}" class="fresh">pagefeed</a>
	bookmarklet to your bookmarks to easily add pages you're reading.
</p>
<br />
<form action="/page/" method="POST" class="add_url ajax" id="add_page_form">
	<input type="text" class="add_page" name="url" id="url" />
	<input type="submit" value="add link" />
	
	<!-- ajax properties -->
	<input type="hidden" name="dest" value="#links" />
	<input type="hidden" name="meth" value="before" />
</form>
