<html>
	<head>
		<title>Pagefeed{% if title %}: {{title|escape}}{% endif %}</title>
		<link rel="stylesheet" href="/public/index.css" />
		{% if feed_link %}
			<link href="{{feed_link|escape}}" type="application/rss+xml" rel="alternate" title="PageFeed saved items" />
		{% endif %}
	</head>
	
	<body>
		<div class="header flush">
			{{header}}
		</div>

		<div class="content flush">
			{{content}}
		</div>
		
		<div class="footer flush">Brought to you by <a href="http://gfxmonk.net">gfxmonk</a></div>
	</body>
</html>
